### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os as _dir
import numpy as np

# Fidnding CSV path and reading in raw data
working_dir = _dir.getcwd()
csv_path = "purchase_data.csv"

#finding path to CSV and reading in File.
for root, dirs, files in _dir.walk(working_dir):
    if csv_path in files:
        csv_path = (_dir.path.join(root, csv_path))
        
        purchase_data = pd.read_csv(csv_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Used list length of SN for total players
total_Player_Count = len(purchase_data["SN"].value_counts())
#Created Data frame for player count
player_Count = pd.DataFrame({"Total Players":[total_Player_Count]})
player_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Calculations for each variable 
unique_Item_Count = len((purchase_data["Item ID"]).unique())
average_Purchase_Price= (purchase_data["Price"].mean())
total_Purchase_Count = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
#Creating data frame for all values above
purchasing_Analysis_df = pd.DataFrame({
                                    "Number of Unique Items": [unique_Item_Count],
                                    "Average Purchase Price": [average_Purchase_Price],
                                    "Total Number of Purchases": [total_Purchase_Count],
                                    "Total Revenue": [total_revenue]
                                    })
#Formated the dataframe to fit currency style
purchasing_Analysis_df.style.format({
                                    "Average Purchase Price":"${:,.2f}",
                                    "Total Revenue": "${:,.2f}"
                                    })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Grouped purchase data according to gender
gender_Type = purchase_data.groupby("Gender")
#Counted totoal of SN in each gender 
gender_Total_Count = gender_Type.nunique()["SN"]
#calcuations for percent of gender
gender_Player_Percent = ((gender_Total_Count / total_Player_Count) * 100)
#Data frame for values above
gender_Demopgraphics = pd.DataFrame({"Percentage of Players": gender_Player_Percent,
                                     "Total Count": gender_Total_Count
                                     })
#formated the data frame to have no name in first column
gender_Demopgraphics.index.name = None
#formated style of output to descending  order and two decimals
gender_Demopgraphics.sort_values(["Total Count"], ascending = False).style.format({
    "Percentage of Players" : "{:.2f}"
    })


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Count of each purchase ID in gender
gender_Purchase_Count = gender_Type["Purchase ID"].count()
#Average purchase price by gender according to price
gender_Average_Purchase_Price = gender_Type["Price"].mean()
#total sum of Price in gender
gender_Total_Purchase = gender_Type["Price"].sum()
#Calculations of average spent per person according to gender
gender_Average_Per_Person = (gender_Total_Purchase / gender_Total_Count)
#Data frame creation of values above
gender_Purchasing_Analysis_df = pd.DataFrame({
                                            "Purchase Count" : gender_Purchase_Count,
                                            "Average Purchase Price" : gender_Average_Purchase_Price,
                                            "Total Purchase Value" : gender_Total_Purchase,
                                            "Average Purchase Total per Person" : gender_Average_Per_Person   
                                            })
#Formated currency style to specific columns
gender_Purchasing_Analysis_df.style.format({
                                            "Average Purchase Price" : "${:,.2f}",
                                            "Total Purchase Value": "${:,.2f}",
                                            "Average Purchase Total per Person": "${:,.2f}"
                                            })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#created bins for age
age_Bin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 999]
age_Bin_Names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Segmented data and sorted in to created bins 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_Bin, labels=(age_Bin_Names))
#new data from for age group
age_Group = purchase_data.groupby("Age Group")
#counted players of each age group by Sn
age_Group_Count = age_Group["SN"].nunique()
#caluclations of age group percentage 
age_Group_Percent = ((age_Group_Count/total_Player_Count)* 100)
#data frame for age demographics values above
age_Demographics_df = pd.DataFrame({
                                    "Total Count": age_Group_Count,
                                    "Percentage of Players": age_Group_Percent
                                    })
#formated the style to 2 decimals and added % 
age_Demographics_df.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Couted purchases by age group
age_Purchase_Count = age_Group["Purchase ID"].count()
#average purchase price by age group
age_Average_Price = age_Group["Price"].mean()
#total purchase of age group using sum
age_Total_Purchase = age_Group["Price"].sum()
#calculatiosn for average purchase per person by age group
age_Average_Per_Person = (age_Total_Purchase / age_Group_Count)
#Created data frame for values above
age_Purchase_Analysis_df = pd.DataFrame({
                                        "Purchase Count": age_Purchase_Count,
                                        "Average Purchase Price": age_Average_Price,
                                        "Total Purchase Value": age_Total_Purchase,
                                        "Average Purchase Total Per Person":age_Average_Per_Person
                                        })
#formated and styled the data frame for currency
age_Purchase_Analysis_df.style.format({
                                      "Average Purchase Price" : "${:,.2f}",
                                      "Total Purchase Value": "${:,.2f}",
                                      "Average Purchase Total Per Person": "${:,.2f}"
                                      })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#group spenders according to SN
spender_Rank = purchase_data.groupby("SN")
#counted spenders by Purchase ID
spender_Purchase_Count = spender_Rank["Purchase ID"].count()
#average spent 
spender_Average_Price = spender_Rank["Price"].mean()
#Total spent 
spender_Total = spender_Rank["Price"].sum()
#Data frame for values above 
spender_Top_df = pd.DataFrame({"Purchase Count" : spender_Purchase_Count,
                               "Average Purchase Price" : spender_Average_Price,
                               "Total Purchase Value" : spender_Total
                               })
#show top 5 results in descending order via total purchase value
spender_Head = spender_Top_df.sort_values(["Total Purchase Value"], ascending=False).head()
#formated for currency
spender_Head.style.format({
                           "Average Purchase Price" : "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}",
                           })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Created new data frame for Items
items_info = purchase_data[["Item ID" , "Item Name", "Price"]]
#grouped Item specific info
items_group = items_info.groupby(["Item ID" , "Item Name"])
#count items that have been bought
items_Purchase_Count= items_group["Price"].count()
#sum of items bought
items_Total_Value=items_group["Price"].sum()
#calculatiosn for individual item prices 
item_price = (items_Total_Value/items_Purchase_Count)

#dataframe for above 
items_Popular_df = pd.DataFrame({
                                "Purchase Count" : items_Purchase_Count,
                                "Item Price" : item_price,
                                "Total Purchase Value" : items_Total_Value
                                })
#get the top 5 spenders in descending order
items_Popular_sort_df = items_Popular_df.sort_values(["Purchase Count"], ascending=False).head()
#format for currency
items_Popular_sort_df.style.format({
                           "Item Price" : "${:,.2f}",
                           "Total Purchase Value": "${:,.2f}",
                           })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#get the top 5 popular items in descending order
items_profitable_df = items_Popular_df.sort_values(["Total Purchase Value"], ascending=False).head()
#format for currency
items_profitable_df.style.format({
                                 "Item Price" : "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}",
                                 })